body{
  font-family: "PT Sans Narrow";
  background-color:#121618;
  font-weight: 10px;
  width: 100%;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #dce4e8;
  background-color: #121618;
  -webkit-font-smoothing: antialiased;
}

h1{
  color: white;
  font-weight: 20px;
  margin-top: 0;
  margin-bottom: 35px;
  font-weight: 400;
  text-transform: uppercase;
  word-wrap: break-word;
  font-family: "PT Sans Narrow";
  text-align: center;
  letter-spacing: 10px;
}

.hero-image{
  position: relative;
  height: 600px;
  overflow: hidden;
  background: url(images/pizza.jpg) no-repeat center;
  background-size: cover;
}

.hero-text{
  color: white;
  padding-top: 30px;
}

.hero-content{
  text-align: right;
  padding-right: 40px;
  padding-top: 300px;
  font-size: 50px;
}

.h2{
  color: white;
  font-weight: 20px;
  margin-top: 0;
  margin-bottom: 35px;
  font-weight: 400;
  text-transform: uppercase;
  word-wrap: break-word;
  font-family: "PT Sans Narrow";
  letter-spacing: 8px;
  font-size: 70px;
  line-height: 40px;
}
